body {
  margin: 0;
  text-align: center; /* putting this in the body centers everything in the body that DOESN'T have a width set*/
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: 'Merriweather', serif;
  color: #40514E;

}

h1 {
  color: #66BFBF;
/*  font-size: 562.5%;*/ /* 100$ is 16 px means 90px is about 562.5% (dynamic sizing)*/
  /* can use ems too - 1 em = 16px; so 90px = 5.62em */
  /* font-size: 5.625em; *//* em is also dynamic sizing; use dynamic for assessibilyt */
  font-size: 5.625rem; /* em and % are inherited (added to) anything defined in parent section (like body)*/
                       /* use rem instead of em to use root em so that previous settings don't mess it up
                          use rem (Angela Yu says!) */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /*margin:0 auto 0 auto;*/ /* sets margins for top right botoom left*/
/* or use margin: 0 auto; */
  /*width: 10%     */       /* need to set the margin because the width is set so text-align in body won't work*/
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p, li {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}



.footer-link:hover {
  color: #EAF6F6;
}


.footer-pic {
  border-radius: 100%;
  max-width: 10%;
  max-height: 10%;
  /* width: 30%; */
  margin: auto;
}

div {
  /*background-color:  #E4F9F5;*/
  background-color: white;

}

.sample-list {
  color: #000;
  font-family: 'Merriweather';
}

.sample-list:hover {
  color: #11999E;
}

.intro {
  width: 30%;
  margin: auto;
}



.contact-message {
  width: 40%;
  margin: 40px auto 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;

}

.profile-pic {
  border-radius: 100%;
  max-width: 100%;
  max-height: 100%;
  /*object-fit: scale-down;*/
}

.skills-pic {
  width: 25%;
  border-radius: 20%;
  float: left;
  margin-right: 30px;
/*  max-height: 10%;
  max-width: 10%;*/
}

.left-pic {
  width: 20%;
  border-radius: 20%;
  float: left;
  margin-right: 30px;
}

.left-pic-no-rounding {
  width: 20%;
  /* border-radius: 20%; */
  float: left;
  margin-right: 30px;
}

.right-pic {
  width: 20%;
  border-radius: 20%;
  float: right;
  margin-left: 30px;
}

.right-pic-no-rounding {
  width: 20%;
  /* border-radius: 20%; */
  float: right;
  margin-left: 30px;
}

.skills-container {
  margin: 50px;
}

.top-container {
  background-color:  #E4F9F5;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color:  #66BFBF;
  padding: 50px 0 20px;
}


/* .pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
} */

/* Button generated CSS from cssbuttoncreator.com */
.btn {
	box-shadow: 0 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #11999e 5%, #66BFBF 100%);
	background-color:#11999e;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Montserrat;
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}

.btn:hover {
	background:linear-gradient(to bottom, #66BFBF 5%, #11999e 100%);
	background-color:#408c99;
}

.btn:active {
	position:relative;
	top:1px;
}



/* If you want to mess with the wrapping of the text
.teacher-skill-description {
  clear: left;
}

.sw-skill-description {
  clear: right;
}
*/
